.wrapper {
	margin-top: 15vh;
	padding-bottom: var(--size-m);
}

.title {
	text-align: center;
	font-size: 35px;
}

@media screen and (max-width: 700px) {
	.wrapper {
		margin-top: var(--size-l);
	}

	.title {
		font-size: 28px;
	}
}

.subTitle {
	text-align: center;
	font-size: var(--size-s);
}
