.button {
	border: 1px solid var(--color-aqua);
	padding: 6px 8px;
	color: var(--color-white);
	background: unset;
	font-size: 16px;
	cursor: pointer;
	border-radius: var(--border-radius-semi-rounded);
	position: absolute;
	bottom: 15px;
	right: 15px;
}
